<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nglah">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.User.InsideOrOutsideTown"></activity>
        <activity android:name=".View.Driver.AcceptedUserInfo" />
        <activity android:name=".View.User.UserInfo" />
        <activity android:name=".View.User.PickElement" />
        <activity android:name=".View.Driver.TransportInfo_Notif" />
        <activity android:name=".View.User.DriversList" />
        <activity android:name=".View.User.PickTime" />
        <activity android:name=".View.User.PickPlace_OutSide" />
        <activity android:name=".View.User.PickPlace_Inside" />
        <activity android:name=".View.Driver.CarInfo" />
        <activity android:name=".View.Driver.DriverInfo" />
        <activity android:name=".View.PaymentSystem" />
        <activity android:name=".View.SignUp" />
        <activity android:name=".View.Splash" />
        <activity android:name=".View.SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>